<header role="banner">
  <h1></h1>
    <ul class="utilities">
      <br>
      <li class="users"><a href="#">Mon Compte</a></li>
      <li class="logout warn"><a href="">Déconnexion</a></li>
    </ul>
  </header>