<nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="/">Tableau de bord</a></li>
      <li class="edit"><a href="/encheres">Enchères</a></li>
      <li class="write"><a href="/pubs">Espace publicitaire</a></li>
      <li class="write"><a href="/jeux">Espace Jeux</a></li>
      <li class="write"><a href="/jouer">Jeu</a></li>
    </ul>
  </nav>