<nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="/">Tableau de bord</a></li>
      <li class="edit"><a href="/enchere/listEnchere">Gestion des enchères</a></li>
      <li class="edit"><a href="/enchere/addEnchere">Créer une enchere</a></li>
      <li class="write"><a href="/annonce/addAnnonce">Ajouter une annonce</a></li>
      <li class="write"><a href="/annonce/listAnnonce">Gestion des Annonces</a></li>
      <li class="write"><a href="/jeux/listJeux">Gestion des jeux</a></li>
      <li class="write"><a href="/jeux/addJeux">Ajouter un jeu</a></li>
      <li class="write"><a href="/compte/listCompte">Gestion des comptes</a></li>
      <li class="write"><a href="/compte/addCompte">Ajouter un compte</a></li>
      <li class="write"><a href="/jeux/pickJeux">Jeu</a></li>
    </ul>
  </nav>