<nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="index.html">Tableau de bord</a></li>
      <li class="edit"><a href="encheres.html">Enchères</a></li>
      <li class="write"><a href="espace_pub.html">Espace publicitaire</a></li>
      <li class="write"><a href="espace_jeu.html">Espace Jeux</a></li>
      <li class="write"><a href="jeu.html">Jeu</a></li>
    </ul>
  </nav>