<% include ./partials/template %>
  <body>
      <% include ./partials/header %>
      <% include ./partials/nav %>
    <main role="main">
        <h2>Enchères</h2>
        <ul>
            <div class="row">
                 <div class="col-md-12">
                      <ul class="newest-auction">
                           <li>
                                <img src="https://lareclame.fr/wp-content/uploads/2011/11/uncharted3-playstation-prev1.jpg" alt="">
                                <div class="info">
                                     <h2 class="title">Uncharted 3</h2>
                                     <p class="desc">Votre publicité sur l'un des murs de la ville</p>
                                     <a href="#">Détails</a>
                                     <h2 class="price">65,00 €</h2>
                                     <p class="year">N°  <span class="font-red-thunderbird">211544888</span></p>
                                     <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                     <ul>
                                          <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                          <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                          <li>#Uncharted #Guerre #Aventure<br>#Action #Tir</li>
                                          <li>06<br>Bid No.</li>
                                          <li class="btn btn-bid">Enchérir</li>
                                     </ul>
                                </div>
                           </li>
                      </ul>
                      <ul class="newest-auction">
                        <li>
                             <img src="https://lareclame.fr/wp-content/uploads/2011/10/battlefield3-prev1.jpg" alt="">
                             <div class="info">
                                  <h2 class="title">Battlefield 3 </h2>
                                  <p class="desc">Votre publicité au lancement du jeu !</p>
                                  <a href="#">Détails</a>
                                  <h2 class="price">245,00 €</h2>
                                  <p class="year">N°  <span class="font-red-thunderbird">4777855422</span></p>
                                  <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                  <ul>
                                       <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                       <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                       <li>#UBattlefield #Guerre #Aventure<br>#Action #Tir</li>
                                       <li>06<br>Bid No.</li>
                                       <li class="btn btn-bid">Enchérir</li>
                                  </ul>
                             </div>
                        </li>
                      </ul>
                      <ul class="newest-auction">
                           <li>
                                <img src="https://lareclame.fr/wp-content/uploads/2011/11/uncharted3-playstation-prev1.jpg" alt="">
                                <div class="info">
                                     <h2 class="title">Uncharted 3</h2>
                                     <p class="desc">Votre publicité sur l'un des murs de la ville</p>
                                     <a href="#">Détails</a>
                                     <h2 class="price">65,00 €</h2>
                                     <p class="year">N°  <span class="font-red-thunderbird">211544888</span></p>
                                     <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                     <ul>
                                          <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                          <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                          <li>#Uncharted #Guerre #Aventure<br>#Action #Tir</li>
                                          <li>06<br>Bid No.</li>
                                          <li class="btn btn-bid">Enchérir</li>
                                     </ul>
                                </div>
                           </li>
                      </ul>
                      <ul class="newest-auction">
                        <li>
                             <img src="https://lareclame.fr/wp-content/uploads/2011/10/battlefield3-prev1.jpg" alt="">
                             <div class="info">
                                  <h2 class="title">Battlefield 3 </h2>
                                  <p class="desc">Votre publicité au lancement du jeu !</p>
                                  <a href="#">Détails</a>
                                  <h2 class="price">245,00 €</h2>
                                  <p class="year">N°  <span class="font-red-thunderbird">4777855422</span></p>
                                  <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                  <ul>
                                       <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                       <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                       <li>#UBattlefield #Guerre #Aventure<br>#Action #Tir</li>
                                       <li>06<br>Bid No.</li>
                                       <li class="btn btn-bid">Enchérir</li>
                                  </ul>
                             </div>
                        </li>
                      </ul><ul class="newest-auction">
                           <li>
                                <img src="https://lareclame.fr/wp-content/uploads/2011/11/uncharted3-playstation-prev1.jpg" alt="">
                                <div class="info">
                                     <h2 class="title">Uncharted 3</h2>
                                     <p class="desc">Votre publicité sur l'un des murs de la ville</p>
                                     <a href="#">Détails</a>
                                     <h2 class="price">65,00 €</h2>
                                     <p class="year">N°  <span class="font-red-thunderbird">211544888</span></p>
                                     <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                     <ul>
                                          <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                          <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                          <li>#Uncharted #Guerre #Aventure<br>#Action #Tir</li>
                                          <li>06<br>Bid No.</li>
                                          <li class="btn btn-bid">Enchérir</li>
                                     </ul>
                                </div>
                           </li>
                      </ul>
                      <ul class="newest-auction">
                        <li>
                             <img src="https://lareclame.fr/wp-content/uploads/2011/10/battlefield3-prev1.jpg" alt="">
                             <div class="info">
                                  <h2 class="title">Battlefield 3 </h2>
                                  <p class="desc">Votre publicité au lancement du jeu !</p>
                                  <a href="#">Détails</a>
                                  <h2 class="price">245,00 €</h2>
                                  <p class="year">N°  <span class="font-red-thunderbird">4777855422</span></p>
                                  <!--<p class="milage">Milage <span class="font-red-thunderbird">95379</span> km</p>-->
                                  <ul>
                                       <li>12<small>D</small> 20<small>H</small> 45<small>M</small> 00<small>S</small><br>Temps restants</li>
                                       <li>16:30 | 13 : 02 : 2016<br>Fin de l'annonce</li>
                                       <li>#UBattlefield #Guerre #Aventure<br>#Action #Tir</li>
                                       <li>06<br>Bid No.</li>
                                       <li class="btn btn-bid">Enchérir</li>
                                  </ul>
                             </div>
                        </li>
                      </ul>
                 </div>
            </div>
        </ul>
      </section>
    </main>
  </body>
</html>