<% include ./partials/template %>
  <body>
      <% include ./partials/header %>
      <% include ./partials/nav %>
    <main role="main">
      <section class="panel important">
          <h2>Bienvenue sur Publikeco</h2>
      </section><br>

    </main>
  </body>
</html>
