<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
        <section class="panel important">
            <h2>Data visualisation</h2>
            <div class="form-group">
            </div>
        </section>
    </main>
  </body>
  <script>
      document.getElementById('dlData')
      .addEventListener('click', function () {
          var text = "";
      }, false)
  </script>
</html>