<% include ./../partials/template %>
    <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
        <main role="main">
            <section class="panel important">
                <h2>Data visualisation</h2>
                <div class="form-group">
                    <div>
                        <a href="enchereWon">
                        <button type="submit" id="data" name="submit" label="Afficher" class="btn btn-primary">Afficher toutes les annonces gagnantes</button>
                        </a>
                    </div>
                    <div>
                        <a href="nbEnchere">
                            <button type="submit" id="data" name="submit" label="Afficher" class="btn btn-primary">Nombre d'enchères par prix</button>
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>


