<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
        <section class="panel important">
            <h2>Data visualisation</h2>
            <div class="form-group">
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Annonceur</th>
                            <th scope="col">Prix de l'annonce</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(el => { %>
                                <tr>
                                    <td><%= el._id.annonceur %></td>
                                    <td><%= el._id.prix %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="powerbi">
                        <button type="submit" id="data" name="submit" label="Retour" class="btn btn-primary">Retour</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
  </body>
</html>
