<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
      <section class="panel important">
          <h2>Compte</h2>
      </section>
            <a href="addCompte"><figure class="snip1578 colbl">
              <img src="/public/img/adduser.png" alt="profile-sample6" />
              <figcaption>
                <div class="icons">
                  <b>Ajouter un compte</b>
                </div>
              </figcaption>
            </figure></a>
            <% compte.forEach(element => { %>
               <% if (element.nom !== undefined ) { %>
<figure class="snip1578">
  <img src="/public/img/userlist.png" alt="profile-sample6" />
  <figcaption>
    <h3><%= element.nom %> <%= element.prenom %></h3>
    <div class="icons">
      <b><%= element.type %></b> <br>
    <span class="txt">  <%= element.email %></span>
    </div>
  </figcaption>
</figure>
<% } %>
<% }); %>
</section>
</main>
</body>
</html>
